## Задача 1

In [4]:
import pandas as pd
df = pd.read_excel('sample_data/data.xls', sheet_name='Задача 1')
df

   Жуки  Картофелины
0     2           10
1     1            5
2     1            2
3     5            6
4     5            0
5     2            0
6     0            4
7     1            3
8     0            4
9     4            5

Первым делом сформулируем гипотезу: Никодим удивится, но колличество жуков на одном кусте картошки и крупных клубней никак не связано.

Теперь найдём выборочное среднее:

In [5]:
bugs_mid = df['Жуки'].sum()/df.shape[0]
patato_mid = df['Картофелины'].sum()/df.shape[0]
print('Жуки:', bugs_mid, 'Картофелины:', patato_mid)

Жуки: 2.1 Картофелины: 3.9

Теперь найдём выборочную ковариацию(повторяющихся строк нет, поэтому можно упростить формулу):

In [6]:
k_chis = 0
for i in range(df.shape[0]):
  k_chis += (df['Жуки'][i] - bugs_mid)*(df['Картофелины'][i] - patato_mid)
k = k_chis/df.shape[0]
k

-0.18999999999999986

Найдем выборочные средние квадратические отклонения:

In [10]:
x = y = 0
for i in range(df.shape[0]):
  x += (df['Жуки'][i] - bugs_mid)**2
D_x = (x/df.shape[0])**(1/2)
for i in range(df.shape[0]):
  y += (df['Картофелины'][i] - patato_mid)**2
D_y = (y/df.shape[0])**(1/2)
print('Жуки:', D_x, 'Картофелины:', D_y)

Жуки: 1.8138357147217055 Картофелины: 2.808914381037628

Вычислим теперь выборочный коэффициент корреляции:

In [11]:
r = k/(D_x*D_y)
r

-0.03729212664043506

Поскольку 0.04 достаточно далеко от 1, то наша гипотеза имеет основания быть отвергнутой.

Т.е. колличество жуков на кусте не зависит от колличества крупных клубней на нём.

## Задача 2

In [12]:
import pandas as pd
df = pd.read_excel('sample_data/data.xls', sheet_name='Задача 2')
df

                 Unnamed: 0  Бег, 100м (сек)  Толкание ядра, м
0             Cedric DUBLER            10.75             12.43
1             Damian WARNER            10.35             14.97
2            Devon WILLIAMS            10.84             13.76
3        Fredrik SAMUELSSON            11.13             13.97
4          Georni JARAMILLO            10.88             15.42
5         Harrison WILLIAMS            10.76             13.78
6           Ilya SHKURENYOV            11.02             14.71
7             Janek ÕIGLANE            10.94             15.20
8              Kai KAZMIREK            10.82             14.30
9            Keisuke USHIRO            11.44             14.31
10              Kevin MAYER            10.50             16.82
11            Lindon VICTOR            10.66             16.24
12              Maicel UIBO            11.10             15.12
13               Martin ROE            10.94             15.08
14              Niklas KAUL            11.27             15.10
15          Paweł WIESIOŁEK            10.76             15.26
16            Pierce LEPAGE            10.36             13.21
17             Pieter BRAUN            11.16             15.26
18          Solomon SIMMONS            10.70             15.33
19  Thomas VAN DER PLAETSEN            11.38             13.78
20                Tim NOWAK            11.12             14.69
21             Vitaliy ZHUK            10.95             15.13

Первым делом сформулируем гипотезу: Результаты бега и толчка ядра связаны, т.к. зависят от физической подготовки.

Теперь найдём выборочное среднее:

In [13]:
run_mid = df['Бег, 100м (сек)'].sum()/df.shape[0]
push_mid = df['Толкание ядра, м'].sum()/df.shape[0]
print('Бег:', run_mid, 'Толкание ядра:', push_mid)

Бег: 10.901363636363634 Толкание ядра: 14.721363636363636

Теперь найдём выборочную ковариацию(повторяющихся строк нет, поэтому можно упростить формулу):

In [14]:
k_chis = 0
for i in range(df.shape[0]):
  k_chis += (df['Бег, 100м (сек)'][i] - run_mid)*(df['Толкание ядра, м'][i] - push_mid)
k = k_chis/df.shape[0]
k

-0.02772913223140502

Найдем выборочные средние квадратические отклонения:

In [15]:
x = y = 0
for i in range(df.shape[0]):
  x += (df['Бег, 100м (сек)'][i] - run_mid)**2
D_x = (x/df.shape[0])**(1/2)
for i in range(df.shape[0]):
  y += (df['Толкание ядра, м'][i] - push_mid)**2
D_y = (y/df.shape[0])**(1/2)
print('Бег:', D_x, 'Толкание ядра:', D_y)

Бег: 0.2869636570994101 Толкание ядра: 0.9577829297371444

Вычислим теперь выборочный коэффициент корреляции:

In [16]:
r = k/(D_x*D_y)
r

-0.10088864469109617

Поскольку 0.1 достаточно далеко от 1, то наша гипотеза имеет основания быть отвергнутой.

Т.е. результаты по бегу не зависят от результатов по толканию ядра.